body {
    margin: 0px;
    background: lightgray;
}

img {
    width: 100%
}

#wrapper {
    font-family: arial;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
   background-color: #FF5500;
   position:absolute;
   overflow-y:scroll;
}

#main-navigation { 
    width: 980px; 
    margin: 0 auto;
    padding: 5px;
}

#main-navigation ul {
    text-align: right;
    list-style-type: none;
    margin-right: 10px;
}

#main-navigation li {
    display: inline-block;
    margin-left: 20px;
}

#main-navigation a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 2px;
}

#main-navigation a.current {
    background: lightblue;
    padding: 20px;
}

#main-navigation a.others:hover {
    color: #eee;
	padding: 20px;
	color: black;
}

#banner {
    position: absolute;
    width: 100%;
    max-height: 850px;
    overflow: hidden;
}

#banner p {
    font-family: "Yu Gothic";
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 45px;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top:20px;
}

.top {
    animation: intro1 1s forwards;
    position: absolute;
    opacity: 0;
}

.middle {
    position: absolute;
    transform: translateY(100px);
    top: 200px;
    animation: intro2 1s;
}
.bottom {
    position: absolute;
    transform: translateY(500px);
    opacity: 0;
    animation: intro3 1s 0.2s forwards;
}


@keyframes intro1 {
    0% {transform: translateY(-100px); opacity:0}
    50% {transform: translateY(-300px); opacity:50}
    100% {transform: translateY(100px); opacity:100}
	font-size: 120px;
	color: red;
}

@keyframes intro2 {
    0% {opacity:0}
    100% {opacity:1}
}

@keyframes intro3 {
    0% {transform: translateY(500px); opacity:0}
    50% {transform: translateY(190px); opacity:0.7}
    100% {transform: translateY(200px); opacity:1}
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
//    float: right;
//    padding: 5px 15px;
}

li a {
    display: block;
    text-align: center;
    Font-weight: Bold;
    Font-size: 20px;
    border-radius: 6px;
}

li a:hover:not(.active) {
    background-color: yellow;
	color: black;
}