.nav {
    width: 100%;
    height: 7%;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 50px #888888;
    text-align: center;
    font-family: "Mono";
}
<<<<<<< HEAD

=======
>>>>>>> 5d68e8189ef0156ea53c9ab5f1ee73760263305c
.nav_options {
    width: 50%;
    float: right;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    font-family: "Mono";
}

.weather {
<<<<<<< HEAD
    width: 50%;
    float: left;
=======
	width: 50%;
	float: left;
>>>>>>> 5d68e8189ef0156ea53c9ab5f1ee73760263305c
    height: 100%;
    border-radius: 15px;
    text-align: center;
    font-family: "Mono";

}

<<<<<<< HEAD
.main {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    background-color: #FF5500;
}

ul2 {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    background-color: green;
}

li {
    float: right;
    padding: 5px 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    Font-weight: Bold;
    Font-size: 20px;
    border-radius: 12px;
}

li a:hover:not(.active) {
    background-color: #0033FF;
}

li2 {
    float: left;
    padding: 5px 15px;
}

li2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    Font-weight: Bold;
    Font-size: 15px;
    border-radius: 10px;
}

li2 a:hover:not(.active) {
    background-color: #0033FF;
}
=======
.main-navigation {
    position:absolute;
    overflow-y:scroll;        
}​
>>>>>>> 5d68e8189ef0156ea53c9ab5f1ee73760263305c
