.rideArea {
	background-color: #F0FFFF;
	margin: auto;
	width: 75%;
	padding-left: 20px;
    height: 75%;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 50px #888888;
    overflow: hidden;
    text-align:center;
    font-family: "Mono";
}
h4{
  line-height: 15px; 
}

.singleRide{
	background-color: lightblue;
	margin: 10px;
	width: 20%;
    height: 45%;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    font-family: "Mono";	
}

.rideDesc{
	width: 100%;
    height: 30%;
}

.ridePic{
	width: 100%;
    height: 70%;
}
